body{
    
    margin: 0%;
    background-image: url("/static/img/backgroundindex.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
 
.logo {
    margin-left: 43%;
}

.logo img {
    max-width: 240px;
}

.logo {

    position: fixed;
    top: 0;
    left: 0;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.logout-button:hover {
    background-color: #d32f2f;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 77%;
    height: 75vh;
    margin-top: 9%;
    margin-left: 11%;
    justify-content: center;
    border-radius: 1%;
    
}

@media (max-width: 1440px) {
    .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 77%;
        height: 75vh;
        margin-top: 14%;
        margin-left: 11%;
        justify-content: center; 
    }
}

@media (max-width: 1024px) {
    .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 77%;
        height: 75vh;
        margin-top: 16%;
        margin-left: 11%;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .logo {
        margin-left: 35%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 77%;
        height: 75vh;
        margin-top: 22%;
        margin-left: 11%;
        justify-content: center; 
    }
}


@media (max-width: 390px) {

    .logo {
        margin-left: 22%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .logo img {
        max-width: 200px;
    }
    
    .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 85.5vh;
        margin-top: 30%;
        margin-left: 0%;
        justify-content: center;
    }
}

.logout-button {
    margin-left: 90%;
    margin-top: 2%;
}