<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEALTHGENIE THE MEDICAL CHATBOAT About</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/about.css') }}">
</head>
<body>
    <header>
        <a href="index.html">
            <div class="logo">
            <img src="image/logoset.png" alt="Logo">
            </div>
        </a>

        <div class="logobg">
            <img src="image/logo2.png" alt="Logobg">
        </div>

        <h2 class="abthd">About HealthGenie</h2>
        <p class="abtpg">
            HealthGenie, the innovative medical chat bot, is transforming the way we approach healthcare. Developed with advanced artificial intelligence technology, HealthGenie provides personalized and accessible medical advice to individuals around the clock. With its intuitive interface and vast knowledge base, HealthGenie has become a trusted companion for millions of people seeking reliable health information.
        </p>
        
        <p class="abtpg">
            One of HealthGenie's key features is its ability to provide accurate and up-to-date medical information. With its access to vast medical databases and research papers, HealthGenie can offer comprehensive insights into various health conditions, symptoms, and treatments. Whether you have a common cold or a complex medical concern, HealthGenie's reliable advice can help users make informed decisions about their health.
        </p>

        <p class="abtpg">
            Another remarkable aspect of HealthGenie is its empathy and understanding. The chat bot is programmed to respond to users' queries with compassion and sensitivity, providing a comforting experience for those in distress. HealthGenie's friendly interface and non-judgmental approach create a safe space for individuals to discuss their health concerns openly, reducing anxiety and promoting better mental well-being.
        </p>

        <p class="abtpg">
            HealthGenie's convenience is another factor that sets it apart. With just a few taps on a smartphone or computer, users can access the chat bot from the comfort of their homes. This eliminates the need for physical appointments, long waiting times, and the inconvenience of traveling to healthcare facilities. HealthGenie's 24/7 availability ensures that medical advice is always accessible, regardless of time or location.
        </p>

        <h3>About Logo</h3>
        <p class="abtlg">
            Another remarkable aspect of HealthGenie is its empathy and understanding. The chat bot is programmed to respond to users' queries with compassion and sensitivity, providing
        </p>
</body>
</html>