<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEALTHGENIE THE MEDICAL CHATBOAT main</main></title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

</head>
<body>
    <header>
        <a href="/">
            <div class="logo">
                <img src="{{ url_for('static',filename='img/logoset.png') }}" alt="" />
            </div>
        </a>
        
        
    </header>

    <div class="responsive-iframe">
        <iframe
            allow="microphone;"
            src="https://console.dialogflow.com/api-client/demo/embedded/1a401024-df1e-4064-b12a-e78556075ef3">
        </iframe>
    </div>

   
    
</body>
</html>